table, table * {
  //display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  th,td {
    text-align: left;
    paddin: .05rem;
  }
  tr {
    border-top: 1px solid black;
    &:last-child {
      border-bottom: 1px solid black;
    }
  }
}
